:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

td {
    vertical-align: middle!important;
}

.big-checkbox {
    height: 30px;
    width: 30px;
}

.table-condensed > tbody > tr > td, th{
    font-size: 14px;
}
